@import "./fonts.css";
* { margin: 0; padding: 0; }
body { font-family: "Roboto", sans-serif }

h1 { text-align: center; }

.logo {
    background-image: url("../assets/logo.svg");
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}